      <!-- Begin Leftside Navigation -->
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Site Navigation</label></li>
          <li><a href="/">Home</a></li>
          <li><a href="/responses">Responses</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </aside>
      <!-- End Leftside Navigation -->