      <a class="exit-off-canvas"></a>
      </div>
      <!-- End Inner Wrap -->
    </div>
    <!-- End Off Canvas Wrap -->
    
    <!-- Begin Site Footer -->
    <footer>
      <div class="row">
        <div class="small-12 columns">
          <p id="footer_copyright" class="text-center">Copyright Jezreel Music LLC &copy;<%= Time.new.year %> - All Rights Reserved</p>
          <p id="footer_social" class="text-center">
            <a target="_blank" href="https://www.facebook.com/meetSkarLett"><i class="fi-social-facebook"></i></a>
            <a target="_blank" href="https://twitter.com/skarlett_info"><i class="fi-social-twitter"></i></a>
            <a target="_blank" href="https://instagram.com/skarlett_info"><i class="fi-social-instagram"></i></a>
          </p>
        </div>
      </div>
    </footer>
    <!-- End Site Footer -->