  </head>
  <body class='<%= controller.controller_name %>'>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
    
          <section class="middle tab-bar-section">
            <h1 id="logo">Skar<span>&#x2764;</span>Lett</h1>
          </section>
          
          <% if @rightside_nav %>
          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
          <% end %>

        </nav>