<h1 class="top_h1"><%= page_title %></h1>
<div class="video-curriculum">
  
<div class="row">
  <div class="small-12 columns text-center">
    <p class="text-justify">
      The Holy Spirit is frequently misunderstood, leaving many clueless about who He is and how He expresses Himself to us. 
      He is often portrayed as something “weird.” But the Bible makes it clear that the Spirit is not something. 
      He is someone—a Person who has promised to never leave your side. In this curriculum, John Bevere invites you into a 
      personal discovery of the most ignored and misunderstood Person in the Church: the Holy Spirit.
    </p>
    <h2>Get The Book!</h2>
    <p class="small-6 columns button" onclick="window.open('http://assets.skar-lett.com/biblical/curriculum/holy_spirit/book/The_Holy_Spirit-John_Bevere.mobi');">MOBI</p>
    <p class="small-6 columns button" onclick="window.open('http://assets.skar-lett.com/biblical/curriculum/holy_spirit/book/The_Holy_Spirit-John_Bevere.epub');">EPUB</a>
  </div>
</div>

<div class="row">
  <div class="small-12 columns text-center">
    <h2>Part 1 - Who Is The Holy Spirit?</h2>
    <div class="flex-video">
      <video style="margin-left: auto; margin-right: auto;" id="holy_spirit_part_1" class="video-js vjs-default-skin" controls
       preload="metadata" width="960" height="540" poster="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/holy_spirit_poster.jpg"
       data-setup="{}">
       <source src="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/video/01-Who_Is_The_Holy_Spirit.mp4" type='video/mp4'>
       <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
    </div>
  </div>

  <div class="small-12 columns text-center">
    <h2>Part 2 - The Personality of the Holy Spirit</h2>
    <div class="flex-video">
      <video style="margin-left: auto; margin-right: auto;" id="holy_spirit_part_2" class="video-js vjs-default-skin" controls
       preload="metadata" width="960" height="540" poster="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/holy_spirit_poster.jpg"
       data-setup="{}">
       <source src="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/video/02-The_Personality_of_The_Holy_Spirit.mp4" type='video/mp4'>
       <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
    </div>
  </div>
  
  <div class="small-12 columns text-center">
    <h2>Part 3 - Three Levels of Relationship</h2>
    <div class="flex-video">
      <video style="margin-left: auto; margin-right: auto;" id="holy_spirit_part_3" class="video-js vjs-default-skin" controls
       preload="metadata" width="960" height="540" poster="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/holy_spirit_poster.jpg"
       data-setup="{}">
       <source src="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/video/04-Empowered_By_The_Holy_Spirit.mp4" type='video/mp4'>
       <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
    </div>
  </div>
  
  <div class="small-12 columns text-center">
    <h2>Part 4 - Empowered By The Holy Spirit</h2>
    <div class="flex-video">
      <video style="margin-left: auto; margin-right: auto;" id="holy_spirit_part_4" class="video-js vjs-default-skin" controls
       preload="metadata" width="960" height="540" poster="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/holy_spirit_poster.jpg"
       data-setup="{}">
       <source src="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/video/04-Empowered_By_The_Holy_Spirit.mp4" type='video/mp4'>
       <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
    </div>
  </div>

  <div class="small-12 columns text-center">
    <h2>Part 5 - The Spirit's Language</h2>
    <div class="flex-video">
      <video style="margin-left: auto; margin-right: auto;" id="holy_spirit_part_5" class="video-js vjs-default-skin" controls
       preload="metadata" width="960" height="540" poster="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/holy_spirit_poster.jpg"
       data-setup="{}">
       <source src="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/video/05-The_Spirit's_Language.mp4" type='video/mp4'>
       <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
    </div>
  </div>
  
  <div class="small-12 columns text-center">
    <h2>Part 6 - Questions and Answers</h2>
    <div class="flex-video">
      <video style="margin-left: auto; margin-right: auto;" id="holy_spirit_part_6" class="video-js vjs-default-skin" controls
       preload="metadata" width="960" height="540" poster="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/holy_spirit_poster.jpg"
       data-setup="{}">
       <source src="http://assets.skar-lett.com/biblical/curriculum/holy_spirit/video/06-Question_And_Answer.mp4" type='video/mp4'>
       <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
    </div>
  </div>
</div>

</div>
