<h1 class="top_h1"><%= page_title %></h1>
<div class="video-curriculum">

  <div class="row">
    <div class="small-12 columns text-center">
      <p class="text-justify">
        Liberty, provision, and protection belong to those under the shadow of the Almighty. This curriculum will help 
        you gain an understanding of God's divine authority, both direct and delegated. You will flourish as you learn 
        to properly respond to the authority figures in every area of your life.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns text-center">
      <h2>Lesson 1 - It's Hard To Kick Against The Goads</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_1.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 2 - The Secret Power of Lawlessness</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_2.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 3 - The Consequences of Disobedience: Part 1</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_3.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 4 - The Consequences of Disobedience: Part 2</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_4.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 5 - Does God Know Who Is In Charge?</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_5.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 6 - Honor The King</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_6.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 7 - Obedience And Submission</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_7.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 8 - What If Authority Tells Me?</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_8.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 9 - Unfair Treatment</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_9.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 10 - Self-Inflicted Judgement</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_10.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 11 - Odds &amp; Ends</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_11.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
  
    <div class="small-12 columns text-center">
      <h2>Lesson 12 - Great Faith</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="under_cover_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="708" height="480" poster="http://assets.skar-lett.us/biblical/curriculum/under_cover/under_cover.jpg"
         data-setup="{}">
         <source src="http://assets.skar-lett.us/biblical/curriculum/under_cover/Under_Cover_Lesson_12.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>

  </div>
</div>