//
// Font Calculations
//
$potential-rem: 15;

//
// Small screens
//
/* Define mobile styles */
@media only screen {
  body.missions{    
    .main-section{
      // Page Images
      img{
        @include photo_style;
        //margin: 19px;       
      }
      img:hover{
        @include photo_style_hover($shadow-color: $sk-red);
      }
      #img2, #img4, #img5, #img7{
        margin-bottom: 10px;
      }
      #img3,#img6{
        display:none;
      }
      #p1{
        margin-top: 10px;
        span{
          text-decoration: underline;
          font-style: italic;
        }
      }
      #p1, #p2, #p3, #p4, #p5{
        text-align: justify;
      }
      // Standout Areas
      .callout{
        border-top: 1px solid $grayTimberwolf;
        border-bottom: 1px solid $grayTimberwolf;
        margin: 25px 0px 45px 0px;
        padding: 10px 0px 10px 0px;
        text-align: center; 
        color: $sk-red_dark; 
        font-style: italic;
        font-size: rem-calc($potential-rem);
      }
    }
  }
}
//
// Medium screens 
//
/* min-width 641px, medium screens */ 
@media only screen and (min-width: 40.063em){
  body.missions{    
    .main-section{
      // Standout Areas
      .callout{
        margin: 25px 0px 35px 0px;
        padding: 10px 0px 10px 0px;
        font-size: rem-calc($potential-rem + 10);
      }
    }
  }
}
//
// Large screens
//
/* min-width 1025px, large screens */ 
@media only screen and (min-width: 64.063em){
  body.missions{    
    .main-section{
      // Standout Areas
      .callout{
        font-size: rem-calc($potential-rem + 17);
      }
      #img2,#img5{
        display:none;
      }
      #img3,#img6{
        display:block;
      }
      #img7{
        margin-top: 15px;
      }
      #p2{
        margin-top: 15px;
      }
      #p3{
        margin-top: 30px;
      }
      #p4{
        margin-top: 75px;
      }
      #p5{
        margin-top: 25px;
      }
    }
  }
}