      <!-- Begin Rightside Navigation -->
      <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Administrative Navigation</label></li>
          <li><a href="/admin">Home</a></li>
          <li><a href="/admin/messages">Messages</a></li>
          <li><a href="/admin/users">Users</a></li>
          <li><a href="/admin/logout">Logout</a></li>
        </ul>
      </aside>
      <!-- End Rightside Navigation -->