//
//  SkarLett Classes
//

.sk-teal{
  color: $sk-teal;
}

.sk-teal_light{
  color: $sk-teal_light;
}

.sk-teal_dark{
  color: $sk-teal_dark;
}

.sk-red{
  color: $sk-red;
}

.sk-red_light{
  color: $sk-red_light;
}

.sk-red_dark{
  color: $sk-red_dark; 
}

//
// Adobe Edge Fonts
//
.alex{
  font-family: alex-brush, cursive;
}
.maven-pro{
  font-family: maven-pro, sans-serif;
}
.dhyana{
  font-family: dhyana, sans-serif;
}

.mce-btn button{
  background-color: rgba($primary-color,0.1);
}