//
// Font Calculations
//
$logo-rem: 45;
$copyright-rem: 10;
$social-rem: 50;
$toph1-rem: 40;

//
// Small screens
//
/* Define mobile styles */
@media only screen {
  body{    
    // This is Skar and Lett
    #logo:hover{
      cursor: pointer;
    }
    #logo{
      text-align: center;
      margin-top: 5px;
      font-family: alex-brush, cursive;
      font-size: rem-calc($logo-rem);
      color: #c61315;
      @include emboss;
      
      // This is the heart
      span{
        font-size: .5em;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    .main-section{
      background-color: rgba(255,255,255,1.0);
      
      #flash_message{
        
        background-color: $sk-red;
        color: $white;
        #notice{
          color: $white;
          text-align: center;
        }
      }
      
      .error_messages{
        h2{
          margin: 0px 0px 0px 0px;
          padding: 0px 0px 0px 0px;
        }
        li{
          color: $sk-red_dark;
        }
      }
      
      textarea{
        min-height: 200px;
      }
      h1.top_h1{
        margin: 0px 0px 25px 0px;
        background-color: $sk-red_dark;
        color: $white;
        font-family: maven-pro, sans-serif;
        text-align: center;
        font-size: rem-calc($toph1-rem);
      }
    }
    footer{
      background-color: $black;
      color: rgba($white, 0.5);
      
      #footer_copyright{
        font-size: rem-calc($copyright-rem);
        margin-top: 25px;
      }
      
      #footer_social{
        line-height: rem-calc($social-rem);
        i{
          margin-top: 0px;
          color: rgba($white, 0.5);
          margin-left: 10px;
          margin-right: 10px;
          font-size: rem-calc($social-rem);
        }
        i:hover{
          color: $white;
          transition: color 300ms ease-out;
        }
      }
    }
  }  
}
//
// Medium screens 
//
/* min-width 641px, medium screens */ 
@media only screen and (min-width: 40.063em){
  // Application Wide
  body{
    
    // This is Skar and Lett
    #logo{
      margin-top: 5px;
      font-size: rem-calc($logo-rem + 25);
      
      // This is the heart
      span{
        font-size: .5em;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    
    .main-section{
      h1.top_h1{
        margin: 0px 0px 25px 0px;
        letter-spacing: 2px;
        font-size: rem-calc($toph1-rem + 10);
      }
    }
    
  }
}
//
// Large screens
//
/* min-width 1025px, large screens */ 
@media only screen and (min-width: 64.063em){
  // Application Wide
  body{
    
    // This is Skar and Lett
    #logo{
      margin-top: 5px;
      font-size: rem-calc($logo-rem + 50);
      
      // This is the heart
      span{
        font-size: .5em;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    
    .main-section{
      h1.top_h1{
        margin: 0px 0px 50px 0px;
        letter-spacing: 2px;
        font-size: rem-calc($toph1-rem + 20);
      }
    }
    
    footer{
      
      #footer_copyright{
        font-size: rem-calc($copyright-rem + 20);
        margin-top: 25px;
      }
      
      #footer_social{
        line-height: rem-calc($social-rem + 20);
        i{
          margin-top: 0px;
          margin-left: 10px;
          margin-right: 10px;
          font-size: rem-calc($social-rem + 20);
        }
        i:hover{

        }
      }
    }
  }
}