      <!-- Begin Expander Frontpage Display -->
      <div style="display:none;" id="expander">
        <div style="display:none;" id="expander_inner" class="row">
          <div class="small-12 columns text-center" style="margin-bottom: 20px;">
            <img src="https://d1nvel87k8rw67.cloudfront.net/www/img/847726029997large-300x300.jpg" />
          </div>
          <div class="row">
            <p id="available_at" class="small-12 large-12 columns">Now Available At These Locations</p>
            <p class="small-12 medium-3 large-3 columns button">
              <a target="_blank" href="https://play.google.com/store/music/album/SkarLett_I_Am_Yours?id=Bew4ppnp7y3bxkd7eucrwlgp4ym">Google Play</a>
            </p>
            <p class="small-12 medium-4 medium-offset-1 large-4 large-offset-1 columns button">
              <a target="_blank" href="https://tatemusicgroup.com/store/album/847726029997">Tate Music Group</a>
            </p>
            <p class="small-12 medium-3 medium-offset-1 large-3 large-offset-1 columns button">
              <a target="_blank" href="https://itunes.apple.com/us/album/i-am-yours/id931652382">Apple iTunes</a>
            </p>
          </div>
        </div>
      </div>
      <!-- End Expander Frontpage Display -->