            </div>
          </div>
        </section>
      <a class="exit-off-canvas"></a>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      var body = $('body').height();
      var bodyminus = body - 81;
      $('#expander').css({'height' : bodyminus}).slideDown(2000, function(){
        $('#expander_inner').fadeIn(1000);
      });
      $(document).foundation();
    </script>
  </body>
</html>