<h1 class="top_h1"><%= page_title %></h1>
<div class="row event_left">
  <div class="large-2 small-2 columns event_date">
    <p>17</p>
  </div>
  <div class="large-4 small-4 columns event_text_left">
    <p>Lowcountry Pregnancy Center WalkFest</p>
    <p>7481 Northside Drive, North Charleston, SC 29420</p>
    <p>September 17, 2015</p>
    <p>6:00PM</p>
  </div>
  <div class="large-6 small-6 columns">
    &nbsp;
  </div>
</div>

<div class="row event_right">
  <div class="large-6 small-6 columns">
    &nbsp;
  </div>
  <div class="large-4 small-4 columns event_text_right">
    <p>Coastal Coffee Roasters, Inc.</p>
    <p>108 E. 3rd North Street, Summerville, SC 29483</p>
    <p>September 4, 2015</p>
    <p>7:00PM</p>
  </div>
  <div class="large-2 small-2 columns event_date">
    <p>04</p>
  </div>
</div>

<div class="row event_left">
  <div class="large-2 small-2 columns event_date">
    <p>30</p>
  </div>
  <div class="large-4 small-4 columns event_text_left">
    <p>Providence Baptist Church</p>
    <p>2069 N Hwy 17a, Moncks Corner, SC 29461</p>
    <p>August 30, 2015</p>
    <p>11:00AM</p>
  </div>
  <div class="large-6 small-6 columns">
    &nbsp;
  </div>
</div>

<div class="row event_right">
  <div class="large-6 small-6 columns">
    &nbsp;
  </div>
  <div class="large-4 small-4 columns event_text_right">
    <p>Victory Baptist Back 2 School Bash</p>
    <p>1120 Mail Rte Rd, Bonneau, SC 29431</p>
    <p>August 22, 2015</p>
    <p>4:00PM</p>
  </div>
  <div class="large-2 small-2 columns event_date">
    <p>22</p>
  </div>
</div>

<div class="row event_left">
  <div class="large-2 small-2 columns event_date">
    <p>02</p>
  </div>
  <div class="large-4 small-4 columns event_text_left">
    <p>May Concert Family Fun Day</p>
    <p>100 Hallmark Dr, Goose Creek, SC 29445</p>
    <p>May 2, 2015</p>
    <p>12:00PM</p>
  </div>
  <div class="large-6 small-6 columns">
    &nbsp;
  </div>
</div>

<div class="row event_right">
  <div class="large-6 small-6 columns">
    &nbsp;
  </div>
  <div class="large-4 small-4 columns event_text_right">
    <p>HOPE Acres Open House</p>
    <p>1044 Eagle Harbor Lane, Summerville, SC 29483</p>
    <p>April 25, 2015</p>
    <p>1:00PM</p>
  </div>
  <div class="large-2 small-2 columns event_date">
    <p>25</p>
  </div>
</div>

<div class="row event_left">
  <div class="large-2 small-2 columns event_date">
    <p>15</p>
  </div>
  <div class="large-4 small-4 columns event_text_left">
    <p>Gateway Community Church</p>
    <p>3537 South Live Oak Drive, Moncks Corner, SC 29461</p>
    <p>May 15, 2015</p>
    <p>9:00AM</p>
  </div>
  <div class="large-6 small-6 columns">
    &nbsp;
  </div>
</div>