<h1 class="top_h1"><%= page_title %></h1>
<p>We would like to extend a special thank you to all who attended our album <a href="/pre-release-party/">Pre-Release party on August 8th.</a> We are so grateful for your support and we greatly appreciate your prayers as we embark on this journey that God has called us to. Here is some of the buzz from the party:</p>
<p style="text-align: center;"><a href="/pre-release-party/photos/" class="button">Photo Gallery</a></p>
<p style="color: gray; font-style: italic;">&#8220;I will listen to the song (Beautiful To Me) over and over again&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;I love the name of the group and what it means&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;I can&#8217;t believe that they are only performing locally!&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;The interaction between the lead singers is so sweet and it radiated through the room&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;From the first note of the first song, I felt lifted and removed from my problems and caught up in worshiping Abba!&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;My only thought through it all was how much God really really LOVES us and this is where we need to camp out&#8230;IN HIS PRESENCE!&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;I loved EVERY minute of it!&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;I hadn&#8217;t realized how out of touch with God I was until last night&#8230;Your music and ministry made me realize that He is my strength.&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;It was like I found God for the second time!&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;Jesus showed up and showed off!!&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;It was awesome!! God is good!!&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;Y&#8217;all rocked it out tonight!&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;That was a great concert and CD release party!!&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;You guys rock!&#8221;</p>
<p style="color: gray; font-style: italic;">&#8220;Love the CD!&#8221;</p>