<h1 class="top_h1"><%= page_title %></h1>
<div class="row">
  <div class="small-12 large-12 columns">
    <%=raw @msg %>
    <% if @data %>
    <script type="text/javascript">
      function rdir(){
        window.location = "http://www.skar-lett.com/";
      }
      window.setTimeout(rdir, 5000)
    </script>
    <% end %>
  </div>
</div>