// Variables
@import "lib/application_colors";
@import "lib/variables";
@import "lib/prelib-functions";
@import "lib/prelib-mixins";

// This brings in utilities, typography, css3
@import "compass";
@import "compass/layout";

// Foundation
@import "lib/variables/foundation/foundation_libvars";
@import url('https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css');
//@import "foundation/foundation-icons/foundation-icons.css";
//@import "foundation/webicons-master/webicons.scss";

// Mixins, Functions
@import "lib/postlib-functions";
@import "lib/postlib-mixins";
@import "lib/classes";

// Application Styles
@import "skarlett/mixins";
@import "skarlett/classes";
@import "skarlett/layout";
@import "skarlett/sections/home";
@import "skarlett/sections/about";
@import "skarlett/sections/responses";
@import "skarlett/sections/contact";
@import "skarlett/sections/users";
@import "skarlett/sections/messages";