<%= render 'layouts/parts/home/head' %>

<div id="main">
  <div class="row">
    <div style="color: red; text-align: center;" id="notice" class="small-12 columns">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </div>
  </div>

  <%= yield %>

</div>

<%= render 'layouts/parts/home/foot' %>